/.settings/
/target/
/.classpath
/.project
/logs/
**/*.iml
.idea/**
log/**
/generator/.settings/*.prefs
/icop/.settings
/manage-public/.classpath
/manage-public/.settings/*.prefs
/manage-public/.project
/manage-public/.gitignore
