<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.user.dao.NfrtOrgDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bank.user.dos.NfrtOrgDO">
        <result column="NFRT_ORG_ID" property="nfrtOrgId"/>
        <result column="NFRT_ORG_NO" property="nfrtOrgNo"/>
        <result column="NFRT_ORG_NAME" property="nfrtOrgName"/>
        <result column="NFRT_ORG_BRANCH_NO" property="nfrtOrgBranchNo"/>
        <result column="NFRT_ORG_BRANCH_NAME" property="nfrtOrgBranchName"/>
        <result column="NFRT_ORG_STATE" property="nfrtOrgState"/>
        <result column="NFRT_ORG_LEGAL_ID" property="nfrtOrgLegalId"/>
        <result column="NFRT_ORG_BUS_TYPE" property="nfrtOrgBusType"/>
        <result column="NFRT_ORG_BUS_ORGID" property="nfrtOrgBusOrgid"/>
        <result column="NFRT_ORG_LEVEL" property="nfrtOrgLevel"/>
        <result column="NFRT_ORG_TYPE" property="nfrtOrgType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NFRT_ORG_ID, NFRT_ORG_NO, NFRT_ORG_NAME, NFRT_ORG_BRANCH_NO, NFRT_ORG_BRANCH_NAME, NFRT_ORG_STATE, NFRT_ORG_LEGAL_ID, NFRT_ORG_BUS_TYPE, NFRT_ORG_BUS_ORGID, NFRT_ORG_LEVEL, NFRT_ORG_TYPE
    </sql>

    <!--    清空核心机构表-->
    <update id="clearnNfrt">
        TRUNCATE TABLE T_NFRT_ORG
    </update>

    <!--    复制中间表数据 到核心机构表中-->
    <update id="copyTempData">
        INSERT INTO T_NFRT_ORG SELECT * FROM T_NFRT_ORG_TEMP
    </update>

    <!--    分支行/网点列表用-->
    <resultMap id="nftOrgDto" type="com.bank.user.dto.OrgNftDto">
        <result property="orgId" column="NFRT_ORGID"/>
        <result property="orgName" column="NFRT_ORGNAME"/>
        <result property="type" column="TYPE"/>
    </resultMap>

    <!--    显示分支行列表-->
    <select id="getNftOrgList" resultMap="nftOrgDto">
        SELECT DISTINCT
            O.ORG_UNIT_ID AS NFRT_ORGID,
            O.ORG_UNIT_NAME AS NFRT_ORGNAME,
            'TYPE_N' TYPE
        FROM
            T_ORGANIZATION O
        INNER JOIN T_NFRT_ORG NFRT ON CONCAT(
            NFRT.NFRT_ORG_ID,
            NFRT.NFRT_ORG_NO
        ) = O.ORG_CODE
        WHERE
            O.ORG_STATUS = '1'
        AND O.ORG_ID NOT LIKE '17%'
    </select>

    <!--    查询村镇支行名称-->
    <select id="getContryOrgList" resultMap="nftOrgDto">
        SELECT
            ORG_ID AS NFRT_ORGID,
            ORG_NAME AS NFRT_ORGNAME,
            'TYPE_C' TYPE
        FROM
            T_ORGANIZATION
        WHERE
            PARENT_ID = 17
    </select>

    <!--    查询网点列表-->
    <select id="getOutletsList" resultMap="nftOrgDto">
        SELECT DISTINCT
            O.ORG_ID AS NFRT_ORGID,
            O.ORG_NAME AS NFRT_ORGNAME, O.ORG_CODE
        FROM
            T_ORGANIZATION O
        INNER JOIN T_NFRT_ORG NFRT ON CONCAT(
            NFRT.NFRT_ORG_ID,
            NFRT.NFRT_ORG_NO
        ) = O.ORG_CODE
        WHERE
            O.ORG_STATUS = '1'
        AND O.ORG_UNIT_ID=#{orgId}
    </select>

    <!--    查询 村镇银行 网点列表-->
    <select id="getContryOutsitList" resultMap="nftOrgDto">
        SELECT
            ORG_ID AS NFRT_ORGID,
            ORG_NAME AS NFRT_ORGNAME
        FROM
            T_ORGANIZATION
        WHERE
            PARENT_ID = #{orgId}
        AND ORG_STATUS = 1
    </select>

    <!--    查询所有的网点列表-->
    <select id="getAllOutletList" resultMap="nftOrgDto">
        SELECT DISTINCT O.ORG_ID AS NFRT_ORGID,
         O.ORG_NAME AS NFRT_ORGNAME,
         O.ORG_CODE
        FROM
            T_ORGANIZATION O
        INNER JOIN T_NFRT_ORG NFRT ON CONCAT(
            NFRT.NFRT_ORG_ID,
            NFRT.NFRT_ORG_NO
        ) = O.ORG_CODE
        WHERE
            O.ORG_STATUS = '1'
    </select>


    <!--    获取分行下面的所有的网点列表-->
    <select id="getSubOutSiteList" resultType="java.lang.String">
             SELECT DISTINCT
                O.ORG_ID AS NFRT_ORGID,
                O.ORG_NAME AS NFRT_ORGNAME
            FROM
                T_ORGANIZATION O
            INNER JOIN T_NFRT_ORG NFRT ON CONCAT(
                NFRT.NFRT_ORG_ID,
                NFRT.NFRT_ORG_NO
            ) = O.ORG_CODE
            WHERE
                O.ORG_STATUS = '1'
            AND O.ORG_UNIT_ID=#{branchNo}
    </select>

    <!--    查询用户所在的分行-->
    <select id="getOrgListByUser" resultMap="nftOrgDto">
        SELECT DISTINCT
            O.ORG_UNIT_ID AS NFRT_ORGID,
            O.ORG_UNIT_NAME AS NFRT_ORGNAME,
            'TYPE_N' TYPE
        FROM
            T_ORGANIZATION O
        INNER JOIN T_NFRT_ORG NFRT ON CONCAT(
            NFRT.NFRT_ORG_ID,
            NFRT.NFRT_ORG_NO
        ) = O.ORG_CODE
        WHERE
            O.ORG_STATUS = '1'
        AND O.ORG_ID NOT LIKE '17%' AND O.ORG_UNIT_ID=#{orgDepartId}
    </select>


    <!--    查询用户所在的分行列表-->
    <select id="getOutlegetOutSitListByUsertsList" resultMap="nftOrgDto">
        SELECT DISTINCT O.ORG_ID AS NFRT_ORGID,
                 O.ORG_NAME AS NFRT_ORGNAME
                FROM
                    T_ORGANIZATION O
                INNER JOIN T_NFRT_ORG NFRT ON CONCAT(
                    NFRT.NFRT_ORG_ID,
                    NFRT.NFRT_ORG_NO
                ) = O.ORG_CODE
                WHERE
        O.ORG_STATUS = '1'
        AND O.ORG_UNIT_ID =#{departId}
        AND O.ORG_ID =#{orgId}
    </select>
</mapper>
