<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.BusinessPanelDao">


    <select id="queryOperation" resultType="map">
        SELECT wbq.take_cnt,wbq.queue_cnt,wbq.already_handle_cnt,wbq.progress_handle_cnt,wbq.abandoned_cnt,wbq.abandoned_lv,
	    (SELECT COUNT( DISTINCT wbn.win_num ) FROM wbmp_bqms_win wbn WHERE wbn.branch = #{branch} AND wbn.status = '1'
	        AND DATE_FORMAT( wbn.data_dt, '%Y-%m-%d' ) = #{nowStr} ) AS num
        FROM wbmp_bqms_queue wbq WHERE wbq.branch = #{branch} AND wbq.flag = '1'
	    AND DATE_FORMAT( wbq.data_dt, '%Y-%m-%d' ) = #{nowStr}
    </select>


    <select id="getTellerOnlineInfo" resultType="com.bank.manage.vo.TellerOnlineInfo">
        <if test="tellerId!=null">
            SELECT g.* FROM(
        </if>
        SELECT
        f.*,(
        @b := @b + 1
        ) AS score
        FROM
        (
        SELECT
        teller_id,
        sum( sub_seconds ) onlineTime
        FROM
        (
        SELECT
        A.teller_id,
        A.recordtime,
        TIMESTAMPDIFF( SECOND, A.recordtime, B.recordtime ) sub_seconds
        FROM
        (
        SELECT
        a.*,(
        @i := @i + 1
        ) AS ord_num
        FROM
        wbmp_abs_online_time a,(
        SELECT
        @i := 1
        ) d
        WHERE
        a.RTNCODE = '00000000'
        AND a.DATA_DT = CURDATE()
        ORDER BY
        teller_id,
        recordtime
        ) AS A
        LEFT JOIN (
        SELECT
        a.*,(
        @j := @j + 1
        ) AS ord_num
        FROM
        wbmp_abs_online_time a,(
        SELECT
        @j := 0
        ) c
        WHERE
        RTNCODE = '00000000'
        AND DATA_DT = CURDATE()
        ORDER BY
        teller_id,
        recordtime
        ) AS B ON A.ord_num = B.ord_num
        AND A.teller_id = B.teller_id
        ) e,(
        SELECT
        @a := 0
        ) AS tem
        WHERE
        ( @a := @a + 1 )% 2 = 1
        GROUP BY
        teller_id
        ) f,(
        SELECT
        @b := 0
        ) AS tem1
        <if test="tellerId!=null">
            ) g
            WHERE teller_id='#{tellerId}';
        </if>
    </select>


    <select id="deviceTotal" resultType="java.util.Map">
        SELECT
        (select count(device_id) from wbmp_atmp_basic_info WHERE ORG_ID=#{orgId} AND DATA_DT=CURDATE()) as deviceTotal,
        (SELECT COUNT(a.DEVICE_TYPE) FROM (SELECT DEVICE_TYPE FROM wbmp_atmp_basic_info WHERE ORG_ID=#{orgId} AND DATA_DT=CURDATE() GROUP BY DEVICE_TYPE) a)
         as deviceTypeTotal
    </select>


    <select id="deviceStatus" resultType="java.util.Map">
        SELECT CASE a.device_run_status
            WHEN 0 THEN "online"
            WHEN 1 THEN "offline"
            WHEN 2 THEN "error"
        END as type,a.sum FROM(
        SELECT device_run_status,COUNT(device_id) sum FROM wbmp_atmp_basic_info WHERE ORG_ID='' AND DATA_DT=CURDATE() GROUP BY device_run_status
        ) a WHERE a.TELLER_ID in  (0,1,2)
    </select>
    <select id="devicetransCnfTop5" resultType="com.bank.manage.vo.TransCntInfo">
        SELECT trans_name,SUM(trans_cnt) sum FROM wbmp_atmp_tran_info
        WHERE ORG_ID=#{orgId} AND DATA_DT=CURDATE()
        GROUP BY trans_name
        ORDER BY sum DESC
        LIMIT 5
    </select>


    <select id="devicetransCnfSum" resultType="java.lang.Integer">
    SELECT SUM(trans_cnt) sum FROM wbmp_atmp_tran_info
    WHERE ORG_ID=#{orgId} AND DATA_DT=CURDATE() GROUP BY ORG_ID
    </select>


    <select id="tradeVolumeTop5" resultType="com.bank.manage.vo.TransCntInfo">
        SELECT tran_name,SUM(trade_volume) sum FROM wbmp_abs_transinfo
        WHERE flag='2' AND DATA_DT=CURDATE() AND ORG_ID=#{orgId}
        GROUP BY tran_name
        ORDER BY sum DESC
        LIMIT 5
    </select>


    <select id="tradeVolumeSum" resultType="java.lang.Number">
        SELECT SUM(trade_volume) sum FROM wbmp_abs_transinfo
        WHERE flag='2' AND DATA_DT=CURDATE() AND ORG_ID=#{orgId}
        GROUP BY ORG_ID
    </select>


    <select id="tellertPageList" resultType="com.bank.manage.vo.AbsTellerInfo">
       SELECT
            a.*,-- b.lj_take_cnt callNum,
            c.trade_volume,
            d.trade_volume trade_volume_sum,
            e.onLineTime
        FROM
            wbmp_abs_teller_info a -- LEFT JOIN wbmp_bqms_queue b ON a.TELLER_ID=b.TELLER_ID AND b.flag='3' AND b.DATA_DT=CURDATE()
            LEFT JOIN wbmp_abs_transinfo c ON a.TELLER_ID = c.TELLER_ID
            AND c.flag = '3'
            AND c.DATA_DT = CURDATE()
            LEFT JOIN wbmp_abs_transinfo d ON a.ORG_ID = d.ORG_ID
            AND d.flag = '1'
            AND d.DATA_DT = CURDATE()
            LEFT JOIN (
            SELECT
                teller_id,
                sum( sub_seconds ) onlineTime
            FROM
                (
                SELECT
                    A.teller_id,
                    A.ORG_ID,
                    A.INTERFACECODE,
                    A.recordtime,
                    TIMESTAMPDIFF( SECOND, A.recordtime, B.recordtime ) sub_seconds
                FROM
                    (
                    SELECT
                        a.*,(
                            @i := @i + 1
                        ) AS ord_num
                    FROM
                        wbmp_abs_online_time a,(
                        SELECT
                            @i := 1
                        ) d
                    WHERE
                        a.RTNCODE = '00000000'
                        AND a.DATA_DT = CURDATE()
                    ORDER BY
                        teller_id,
                        recordtime
			) AS A
			LEFT JOIN (
			SELECT
				a.*,(
					@j := @j + 1
				) AS ord_num
			FROM
				wbmp_abs_online_time a,(
				SELECT
					@j := 0
				) c
			WHERE
				RTNCODE = '00000000'
				AND DATA_DT = CURDATE()
			ORDER BY
				teller_id,
				recordtime
			) AS B ON A.ord_num = B.ord_num
			AND A.teller_id = B.teller_id
		) e
	WHERE
		INTERFACECODE = 'NLTTSM_5201'
		AND sub_seconds IS NOT NULL
	GROUP BY
		teller_id
	) e ON a.TELLER_ID = e.TELLER_ID
        WHERE a.ORG_ID=#{orgId}
    </select>


    <select id="onlineSum" resultType="java.lang.Integer">
        SELECT COUNT(TELLER_ID) FROM wbmp_abs_teller_info WHERE teller_ind = '1'
        <if test="orgId!=null">
            and ORG_ID=#{orgId}
        </if>
    </select>

    <select id="tradeSum" resultType="java.lang.Number">
        SELECT SUM(trade_volume) FROM wbmp_abs_transinfo
        WHERE DATA_DT=CURDATE()
        AND flag=1
        <if test="orgId!=null">
            and ORG_ID=#{orgId}
        </if>

    </select>
    <select id="tradeNumRank" resultType="java.lang.Integer">
        SELECT rank FROM (
        SELECT a.*,(@i := @i + 1) as rank FROM wbmp_abs_transinfo a,(select @i := 0) b
        WHERE a.DATA_DT=CURDATE() AND a.flag=3
        <if test="orgId!=null">
            and ORG_ID=#{orgId}
        </if>
        ORDER BY a.trade_volume DESC) c
        WHERE c.TELLER_ID = #{tellerId}
    </select>



    <select id="onlineTimeSum" resultType="java.lang.Number">
                    SELECT
                sum( sub_seconds ) onlineTime
            FROM
                (
                SELECT
                    A.teller_id,
                    A.INTERFACECODE,
                    A.ORG_ID,
                    A.recordtime,
                    TIMESTAMPDIFF( SECOND, A.recordtime, B.recordtime ) sub_seconds
                FROM
                    (
                    SELECT
                        a.*,(
                            @i := @i + 1
                        ) AS ord_num
                    FROM
                        wbmp_abs_online_time a,(
                        SELECT
                            @i := 1
                        ) d
                    WHERE
                        a.RTNCODE = '00000000'
                        AND a.DATA_DT = CURDATE()
                    ORDER BY
                        teller_id,
                        recordtime
                    ) AS A
                    LEFT JOIN (
                    SELECT
                        a.*,(
                            @j := @j + 1
                        ) AS ord_num
                    FROM
                        wbmp_abs_online_time a,(
                        SELECT
                            @j := 0
                        ) c
                    WHERE
                        RTNCODE = '00000000'
                        AND DATA_DT = CURDATE()
                    ORDER BY
                        teller_id,
                        recordtime
                    ) AS B ON A.ord_num = B.ord_num
                    AND A.teller_id = B.teller_id
                ) e
            WHERE
                INTERFACECODE = 'NLTTSM_5201'
                AND sub_seconds IS NOT NULL
            <if test="orgId!=null">
                and ORG_ID=#{orgId}
            </if>
    </select>




    <select id="onlineTimeRank" resultType="java.lang.Integer">
        <if test="tellerId!=null">
            SELECT score FROM(
        </if>
            SELECT
                f.*,(
                    @b := @b + 1
                ) AS score
            FROM
                (
                SELECT
                    teller_id,
                    sum( sub_seconds ) onlineTime
                FROM
                    (
                    SELECT
                        A.teller_id,
                        A.ORG_ID,
                        A.INTERFACECODE,
                        A.recordtime,
                        TIMESTAMPDIFF( SECOND, A.recordtime, B.recordtime ) sub_seconds
                    FROM
                        (
                        SELECT
                            a.*,(
                                @i := @i + 1
                            ) AS ord_num
                        FROM
                            wbmp_abs_online_time a,(
                            SELECT
                                @i := 1
                            ) d
                        WHERE
                            a.RTNCODE = '00000000'
                            AND a.DATA_DT = CURDATE()
                        ORDER BY
                            teller_id,
                            recordtime
                        ) AS A
                        LEFT JOIN (
                        SELECT
                            a.*,(
                                @j := @j + 1
                            ) AS ord_num
                        FROM
                            wbmp_abs_online_time a,(
                            SELECT
                                @j := 0
                            ) c
                        WHERE
                            RTNCODE = '00000000'
                            AND DATA_DT = CURDATE()
                        ORDER BY
                            teller_id,
                            recordtime
                        ) AS B ON A.ord_num = B.ord_num
                        AND A.teller_id = B.teller_id
                    ) e
                WHERE
                    INTERFACECODE = 'NLTTSM_5201'
                    AND sub_seconds IS NOT NULL
                    AND ORG_ID = '18200101'
                GROUP BY
                    teller_id
                ORDER BY
                    onlineTime DESC
                    ) f,(
                SELECT
                    @b := 0
                ) AS tem1
                <if test="tellerId!=null">
                    ) g
                    WHERE teller_id='#{tellerId}';
                </if>
    </select>


</mapper>
