<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.BusinessPanelDao">


    <select id="queryOperation" resultType="map">
SELECT
(select count(b.queue_seq) from wbmp_bqms_queue b WHERE b.queue_status = '0' and concat(substr(b.branch,1,6),'01') = #{branch} and DATE_FORMAT(b.data_dt,'%Y%m%d') = #{nowStr}) as queue_cnt,
(select count(b.queue_seq) from wbmp_bqms_queue b WHERE b.queue_status = '1' and concat(substr(b.branch,1,6),'01') = #{branch} and DATE_FORMAT(b.data_dt,'%Y%m%d') = #{nowStr}) as progress_handle_cnt,
(select count(b.queue_seq) from wbmp_bqms_queue b WHERE b.queue_status = '2' and concat(substr(b.branch,1,6),'01') = #{branch} and DATE_FORMAT(b.data_dt,'%Y%m%d') = #{nowStr}) as already_handle_cnt,
(select count(b.queue_seq) from wbmp_bqms_queue b WHERE b.queue_status = '3' and concat(substr(b.branch,1,6),'01') = #{branch} and DATE_FORMAT(b.data_dt,'%Y%m%d') = #{nowStr}) as abandoned_cnt,
(SELECT COUNT( DISTINCT wbn.win_num ) FROM wbmp_bqms_win wbn WHERE concat(substr(wbn.branch,1,6),'01') = #{branch} AND wbn.status1 = '1') as num,
q.ABANDONED_LV as abandoned_lv,q.INDEX_CNT as index_cnt from wbmp_operate_bqms_queue_avg q where q.ORG_ID = #{branch} and DATE_FORMAT(q.DATA_DT,'%Y%m%d') = #{nowStr}
    </select>


    <select id="getTellerOnlineInfo" resultType="com.bank.manage.vo.TellerOnlineInfo">
        <if test="tellerId!=null">
            SELECT g.* FROM(
        </if>
        SELECT
        f.*,(
        @b := @b + 1
        ) AS score
        FROM
        (
        SELECT
        teller_id,
        sum( sub_seconds ) onlineTime
        FROM
        (
        SELECT
        A.teller_id,
        A.recordtime,
        TIMESTAMPDIFF( SECOND, A.recordtime, B.recordtime ) sub_seconds
        FROM
        (
        SELECT
        a.*,(
        @i := @i + 1
        ) AS ord_num
        FROM
        wbmp_abs_online_time a,(
        SELECT
        @i := 1
        ) d
        WHERE
        a.RTNCODE = '00000000'
        AND a.DATA_DT = CURDATE()
        ORDER BY
        teller_id,
        recordtime
        ) AS A
        LEFT JOIN (
        SELECT
        a.*,(
        @j := @j + 1
        ) AS ord_num
        FROM
        wbmp_abs_online_time a,(
        SELECT
        @j := 0
        ) c
        WHERE
        RTNCODE = '00000000'
        AND DATA_DT = CURDATE()
        ORDER BY
        teller_id,
        recordtime
        ) AS B ON A.ord_num = B.ord_num
        AND A.teller_id = B.teller_id
        ) e,(
        SELECT
        @a := 0
        ) AS tem
        WHERE
        ( @a := @a + 1 )% 2 = 1
        GROUP BY
        teller_id
        ) f,(
        SELECT
        @b := 0
        ) AS tem1
        <if test="tellerId!=null">
            ) g
            WHERE teller_id='#{tellerId}';
        </if>
    </select>


    <select id="deviceTotal" resultType="java.util.Map">
        SELECT
        (select count(device_id) from wbmp_atmp_basic_info WHERE ORG_ID=#{orgId} ) as deviceTotal,
        (SELECT COUNT(a.DEVICE_TYPE) FROM (SELECT DEVICE_TYPE FROM wbmp_atmp_basic_info WHERE ORG_ID=#{orgId}  GROUP BY DEVICE_TYPE) a)
         as deviceTypeTotal
    </select>

    <!--自助设备在线状态-->
    <select id="deviceStatus" resultType="java.util.Map">
        SELECT
        (SELECT COUNT(device_id) from wbmp_atmp_basic_info WHERE ORG_ID=#{orgId}  AND device_run_status in('-1','5','7','11') ) as 'offline',
        (SELECT COUNT(device_id) from wbmp_atmp_basic_info WHERE ORG_ID=#{orgId}  AND device_run_status in('0','1','10') ) as 'online',
        (SELECT COUNT(device_id) from wbmp_atmp_basic_info WHERE ORG_ID=#{orgId}  AND device_run_status in('2','6') ) as 'error',
        (SELECT COUNT(device_id) from wbmp_atmp_basic_info WHERE ORG_ID=#{orgId}  AND device_run_status in('3','4','8') ) as 'maintena'
    </select>


    <select id="devicetransCnfTop5" resultType="com.bank.manage.vo.TransCntInfo">
        SELECT
            CASE
            WHEN a.DICT_ITEM_VALUE IS NULL THEN
                ati.trans_name
            ELSE
                a.DICT_ITEM_TITLE
            END AS trans_name,
            SUM(ati.trans_cnt) AS sum
        FROM
            wbmp_atmp_tran_info ati
        LEFT JOIN (
            SELECT
                di.DICT_ITEM_VALUE,
                di.DICT_ITEM_TITLE
            FROM
                t_dictionary d
            INNER JOIN t_dictionary_item di ON d.DICT_ID = di.DICT_ID
            WHERE
                d.DICT_NAME = 'BUSINESS_TYPE'
        ) a ON a.DICT_ITEM_VALUE = ati.trans_name
         WHERE ati.ORG_ID=#{orgId} AND ati.DATA_DT=CURDATE()
                GROUP BY trans_name
                ORDER BY sum DESC
                LIMIT 5
    </select>


    <select id="devicetransCnfSum" resultType="java.lang.Integer">
    SELECT SUM(trans_cnt) sum FROM wbmp_atmp_tran_info
    WHERE ORG_ID=#{orgId} AND DATA_DT=CURDATE() GROUP BY ORG_ID
    </select>


    <select id="tradeVolumeTop5" resultType="com.bank.manage.vo.TransCntInfo">
        SELECT tran_name trans_name,SUM(trade_volume) sum FROM wbmp_abs_transinfo
        WHERE flag='2' AND DATA_DT=CURDATE() AND concat(substr(ORG_ID,1,6),'01')=#{orgId}
        GROUP BY tran_name
        ORDER BY sum DESC
        LIMIT 5
    </select>


    <select id="tradeVolumeSum" resultType="java.lang.Integer">
        SELECT SUM(trade_volume) sum FROM wbmp_abs_transinfo
        WHERE flag='2' AND DATA_DT=CURDATE() AND concat(substr(ORG_ID,1,6),'01')=#{orgId}
        GROUP BY ORG_ID
    </select>


    <select id="tellertPageList" resultType="com.bank.manage.vo.AbsTellerInfo">
       SELECT
            a.*,
            b.callNum,
            c.trade_volume,
            d.trade_volume trade_volume_sum,
            e.onLineTime
        FROM
            wbmp_abs_teller_info a
            LEFT JOIN (
            SELECT TELLER_ID,COUNT(queue_num) callNum FROM wbmp_bqms_queue WHERE TELLER_ID is NOT NULL AND queue_status='2' AND data_dt=CURDATE() GROUP BY TELLER_ID
            ) b ON a.TELLER_ID=b.TELLER_ID
            LEFT JOIN wbmp_abs_transinfo c ON a.TELLER_ID = c.TELLER_ID
            AND c.flag = '3'
            AND c.DATA_DT = CURDATE()
            LEFT JOIN wbmp_abs_transinfo d ON a.ORG_ID = concat(substr(d.ORG_ID,1,6),'01')
            AND d.flag = '1'
            AND d.DATA_DT = CURDATE()
            LEFT JOIN (
            SELECT
                teller_id,
                sum( sub_seconds ) onlineTime
            FROM
                (
                SELECT
                    A.teller_id,
                    A.ORG_ID,
                    A.INTERFACECODE,
                    A.recordtime,
                    TIMESTAMPDIFF( SECOND, A.recordtime, B.recordtime ) sub_seconds
                FROM
                    (
                    SELECT
                        a.*,(
                            @i := @i + 1
                        ) AS ord_num
                    FROM
                        wbmp_abs_online_time a,(
                        SELECT
                            @i := 1
                        ) d
                    WHERE
                        a.RTNCODE = '00000000'
                        AND a.DATA_DT = CURDATE()
                    ORDER BY
                        teller_id,
                        recordtime
			) AS A
			LEFT JOIN (
			SELECT
				a.*,(
					@j := @j + 1
				) AS ord_num
			FROM
				wbmp_abs_online_time a,(
				SELECT
					@j := 0
				) c
			WHERE
				RTNCODE = '00000000'
				AND DATA_DT = CURDATE()
			ORDER BY
				teller_id,
				recordtime
			) AS B ON A.ord_num = B.ord_num
			AND A.teller_id = B.teller_id
		) e
	WHERE
		INTERFACECODE = 'NLTTSM_5201'
		AND sub_seconds IS NOT NULL
	GROUP BY
		teller_id
	) e ON a.TELLER_ID = e.TELLER_ID
        WHERE a.ORG_ID=#{orgId}
    </select>


    <select id="onlineSum" resultType="java.lang.Integer">
        SELECT COUNT(TELLER_ID) FROM wbmp_abs_teller_info WHERE teller_ind = '1'
        <if test="orgId!=null">
            and ORG_ID=#{orgId}
        </if>
    </select>

    <select id="tradeSum" resultType="java.lang.Integer">
        SELECT SUM(trade_volume) FROM wbmp_abs_transinfo
        WHERE DATA_DT=CURDATE()
        AND flag=1
        <if test="orgId!=null">
            and concat(substr(ORG_ID,1,6),'01')=#{orgId}
        </if>

    </select>
    <select id="tradeNumRank" resultType="java.lang.Integer">
        SELECT rank FROM (
        SELECT a.*,(@i := @i + 1) as rank FROM wbmp_abs_transinfo a,(select @i := 0) b
        WHERE a.DATA_DT=CURDATE() AND a.flag=3
        <if test="orgId!=null">
            and concat(substr(ORG_ID,1,6),'01')=#{orgId}
        </if>
        ORDER BY a.trade_volume DESC) c
        WHERE c.TELLER_ID = #{tellerId}
    </select>



    <select id="onlineTimeSum" resultType="java.lang.Float">
                    SELECT
                sum( sub_seconds ) onlineTime
            FROM
                (
                SELECT
                    A.teller_id,
                    A.INTERFACECODE,
                    A.ORG_ID,
                    A.recordtime,
                    TIMESTAMPDIFF( SECOND, A.recordtime, B.recordtime ) sub_seconds
                FROM
                    (
                    SELECT
                        a.*,(
                            @i := @i + 1
                        ) AS ord_num
                    FROM
                        wbmp_abs_online_time a,(
                        SELECT
                            @i := 1
                        ) d
                    WHERE
                        a.RTNCODE = '00000000'
                        AND a.DATA_DT = CURDATE()
                    ORDER BY
                        teller_id,
                        recordtime
                    ) AS A
                    LEFT JOIN (
                    SELECT
                        a.*,(
                            @j := @j + 1
                        ) AS ord_num
                    FROM
                        wbmp_abs_online_time a,(
                        SELECT
                            @j := 0
                        ) c
                    WHERE
                        RTNCODE = '00000000'
                        AND DATA_DT = CURDATE()
                    ORDER BY
                        teller_id,
                        recordtime
                    ) AS B ON A.ord_num = B.ord_num
                    AND A.teller_id = B.teller_id
                ) e
            WHERE
                INTERFACECODE = 'NLTTSM_5201'
                AND sub_seconds IS NOT NULL
            <if test="orgId!=null">
                and ORG_ID=#{orgId}
            </if>
    </select>




    <select id="onlineTimeRank" resultType="java.lang.Integer">
            SELECT
                g.*
            FROM
                (
                SELECT
                    f.*,(
                        @b := @b + 1
                    ) AS score
                FROM
                    (
                    SELECT
                        teller_id,
                        sum( sub_seconds ) onlineTime
                    FROM
                        (
                        SELECT
                            A.teller_id,
                            A.ORG_ID,
                            A.INTERFACECODE,
                            A.recordtime,
                            TIMESTAMPDIFF( SECOND, A.recordtime, B.recordtime ) sub_seconds
                        FROM
                            (
                            SELECT
                                a.*,(
                                    @i := @i + 1
                                ) AS ord_num
                            FROM
                                wbmp_abs_online_time a,(
                                SELECT
                                    @i := 1
                                ) d
                            WHERE
                                a.RTNCODE = '00000000'
                                AND a.DATA_DT = CURDATE()
                            ORDER BY
                                teller_id,
                                recordtime
                            ) AS A
                            LEFT JOIN (
                            SELECT
                                a.*,(
                                    @j := @j + 1
                                ) AS ord_num
                            FROM
                                wbmp_abs_online_time a,(
                                SELECT
                                    @j := 0
                                ) c
                            WHERE
                                RTNCODE = '00000000'
                                AND DATA_DT = CURDATE()
                            ORDER BY
                                teller_id,
                                recordtime
                            ) AS B ON A.ord_num = B.ord_num
                            AND A.teller_id = B.teller_id
                        ) e
                    WHERE
                        INTERFACECODE = 'NLTTSM_5201'
                        AND sub_seconds IS NOT NULL
                        <if test="orgId!=null">
                            and ORG_ID=#{orgId}
                        </if>
                    GROUP BY
                        teller_id
                    ORDER BY
                        onlineTime DESC
                        ) f,(
                    SELECT
                        @b := 0
                    ) AS tem1
                ) g
            WHERE
                teller_id = #{tellerId};
    </select>

    <!-- 获取机构设备列表 -->
    <select id="getOrgDeviceList" resultType="com.bank.manage.vo.DeviceInfoVo">
            SELECT
             CASE  device_type
                WHEN 1 THEN
                '智慧厅堂'
                WHEN 2 THEN
                '智慧柜台'
                WHEN 3 THEN
                 'ATM'
                WHEN 4 THEN
                 'CRS快柜'
                 WHEN 5 THEN
                  '壹站通'
                WHEN 6 THEN
                '回单打印机'
                WHEN 7 THEN
                 '智能现金柜'
                END AS deviceName,
                 term_no AS termNo,
               CASE device_run_status
               WHEN 10 THEN
                '在线'
                WHEN 11 THEN
                '离线'
                WHEN -1 THEN
                 '无效'
                WHEN 0 THEN
                 '空闲'
               WHEN 1 THEN
                  '交易中'
                WHEN 2 THEN
                '故障'
                WHEN 3 THEN
                 '暂停服务'
                 WHEN 4 THEN
                 '维护中'
                WHEN 5 THEN
                '通信中断'
                WHEN 6 THEN
                 '耗材尽'
                 WHEN 7 THEN
                 '已关机'
                  WHEN 8 THEN
                 '重启中'
                END AS deviceRunStatus,
             device_id  as deviceId
        FROM
          wbmp_atmp_basic_info
        where
        ORG_ID=#{orgId}
    </select>

    <!--根据设备id，查询设备详情-->
    <select id="findByDeviceId" resultType="com.bank.manage.dos.WbmpAtmpBasicInfoDO">
        select
             CASE device_run_status
               WHEN 10
                THEN
                '在线'
                WHEN 11 THEN
                '离线'
                WHEN -1 THEN
                 '空闲'
                WHEN 0 THEN
                 '交易中'
               WHEN 1 THEN
                  '故障'
                WHEN 2 THEN
                '暂停服务'
                WHEN 3 THEN
                 '维护中'
                 WHEN 4 THEN
                 '通信中断'
                WHEN 5 THEN
                '耗材尽'
                WHEN 6 THEN
                 '已关机'
                 WHEN 7 THEN
                 '重启中'
                END AS deviceRunStatus,
            device_vendor  as  deviceVendor,
            device_model as deviceModel,
           card_reader as cardReader,
           rfcard_reader as rfcardReader,
           pin_pad as pinPad,
           journal_printer as journalPrinter,
           cash_dispenser as cashDispenser,
           cash_acceptor as cashAcceptor,
           receipt_printer as receiptPrinter,
           statement_printer as statementPrinter,
           passbook_printer as passbookPrinter
         FROM
          wbmp_atmp_basic_info
        where
        device_id=#{deviceId}
    </select>


    <!--自助设备按近一月查询交易趋势-->
    <select id="deviceMonthTradeList" resultType="com.bank.manage.vo.DeviceTradeTrendVo">
          SELECT
                    CONVERT (t2.day_str, CHAR) `date`,
                    IFNULL(sum(i.trans_cnt), 0) AS tradeCount
            FROM
                (
                    SELECT
                        @rownum :=@rownum + 1 AS num,
                        date_format(
                            DATE_SUB(NOW(), INTERVAL @rownum DAY),
                            '%Y-%m-%d'
                        ) AS day_str
                    FROM
                        (SELECT @rownum := - 1) AS r_init,
                        (
                            SELECT
                                c.trans_cnt
                            FROM
                                 wbmp_atmp_tran_info c
                            LIMIT 30
                        ) AS c_init
                ) t2
            LEFT JOIN wbmp_atmp_tran_info AS i ON (
                CONCAT(
                    DATE_FORMAT(i.data_dt, '%Y'),
                    '-',
                    DATE_FORMAT(i.data_dt, '%m'),
                            '-',
                    DATE_FORMAT(i.data_dt, '%d')
                ) = t2.day_str
               and i.term_no = #{termNo} and i.org_id = #{orgId}
            )
            GROUP BY
                t2.day_str
    </select>


    <!--自助设备查询近一年交易趋势-->
    <select id="deviceYearTradeList" resultType="com.bank.manage.vo.DeviceTradeTrendVo">
              SELECT
                    CONVERT (t2.day_str, CHAR) `date`,
                IFNULL(sum(i.trans_cnt), 0) AS tradeCount
            FROM
                (
                    SELECT
                        @rownum :=@rownum + 1 AS num,
                        date_format(
                            DATE_SUB(NOW(), INTERVAL @rownum MONTH),
                            '%Y-%m'
                        ) AS day_str
                    FROM
                        (SELECT @rownum := - 1) AS r_init,
                        (
                            SELECT
                                c.trans_cnt
                            FROM
                                 wbmp_atmp_tran_info c
                            LIMIT 12
                        ) AS c_init
                ) t2
            LEFT JOIN wbmp_atmp_tran_info AS i ON (
                CONCAT(
                    DATE_FORMAT(i.data_dt, '%Y'),
                    '-',
                    DATE_FORMAT(i.data_dt, '%m')
                ) = t2.day_str
               and i.term_no = #{termNo}  and i.org_id = #{orgId}
            )
            GROUP BY
                t2.day_str
    </select>


</mapper>
