<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.DeviceDao">


    <select id="selectPageListByPageQueryModel" resultType="com.bank.manage.dto.DeviceDTO">
            SELECT D.* FROM T_GROUP G
            INNER JOIN T_DEVICE_GROUP DG ON G.GROUP_ID = DG.GROUP_ID
            INNER JOIN S_DEVICE D ON DG.DEVICE_ID = D.DEVICE_ID
            WHERE G.GROUP_ID = #{groupId}
            <if test="deviceType != null and deviceType != ''">
                AND D.DEVICE_TYPE = #{deviceType}
            </if>
    </select>

    <select id="queryPageByListOrgIds" resultType="com.bank.manage.dto.DeviceDTO">
            SELECT D.* FROM T_GROUP G
            INNER JOIN T_DEVICE_GROUP DG ON G.GROUP_ID = DG.GROUP_ID
            INNER JOIN S_DEVICE D ON DG.DEVICE_ID = D.DEVICE_ID
            WHERE G.GROUP_ID = #{groupId} AND D.ORG_ID IN
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="deviceType != null and deviceType != ''">
            AND D.DEVICE_TYPE = #{deviceType}
        </if>
    </select>
</mapper>