<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.ExamineDataTempAdminDao">

    <delete id="delExamineDataTempAdminByList" >
        DELETE FROM T_EXAMINE_DATA_TEMP_ADMIN WHERE EXAMINE_ID IN
        <foreach collection="examineDataAdminList" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>


</mapper>