<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.ExamineDataTempBranchDao">

    <delete id="delExamineDataBranchByList">
        DELETE FROM T_EXAMINE_DATA_TEMP_BRANCH WHERE EXAMINE_ID IN
        <foreach collection="examineDataBranchList" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>