<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.PartorlContentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bank.manage.dos.PartorlContentDO">
        <id column="PARTORL_CONTENT_ID" property="partorlContentId" />
        <result column="PARTORL_MODUAL_ID" property="partorlModualId" />
        <result column="PARTORL_CONTENT" property="partorlContent" />
        <result column="PARTORL_CONTENT_SORT" property="partorlContentSort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PARTORL_CONTENT_ID, PARTORL_MODUAL_ID, PARTORL_CONTENT, PARTORL_CONTENT_SORT
    </sql>

</mapper>
