<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.PartorlRecordDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bank.manage.dos.PartorlRecordDO">
        <id column="PARTORL_RECORD_ID" property="partorlRecordId"/>
        <result column="NEWPROCESS_ID" property="newprocessId"/>
        <result column="PARTORL_DATE" property="partorlDate"/>
        <result column="PARTORL_USER" property="partorlUser"/>
        <result column="PARTORL_NOMAL" property="partorlNomal"/>
        <result column="PARTORL_ORVERTIME" property="partorlOrvertime"/>
        <result column="ORG_ID" property="orgId"/>
        <result column="ORG_NAME" property="orgName"/>
        <result column="CREATE_USER" property="createUser"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_USER" property="updateUser"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PARTORL_RECORD_ID, NEWPROCESS_ID, PARTORL_DATE, PARTORL_USER, PARTORL_NOMAL, PARTORL_ORVERTIME, ORG_ID, ORG_NAME, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME
    </sql>

    <!--    查询巡查记录 导出excel 用-->
    <resultMap id="RecordExcel" type="com.bank.manage.excel.partorl.PartorlExcelEntity">
        <result property="recordId" column="PARTORL_RECORD_ID"/>
        <result property="subBranchName" column="ORG_NAME"/>
        <result property="outlets" column="ORG_NAME"/>
        <result property="partorlDate" column="PARTORL_DATE"/>
    </resultMap>
    <!--查询巡查记录-->
    <select id="getRecordById" resultMap="RecordExcel">
        SELECT PARTORL_RECORD_ID,ORG_NAME,PARTORL_DATE FROM T_PARTORL_RECORD WHERE PARTORL_RECORD_ID=#{recordId}
    </select>

    <!--    巡查记录-->
    <resultMap id="PartorlRecord" type="com.bank.manage.dto.PartorlRecordDto" extends="BaseResultMap">
        <result property="branchName" column="ORG_DEPART_NAME"/>
    </resultMap>

    <!--    查询巡查记录-->
    <select id="selectRecordPage" resultMap="PartorlRecord">
        SELECT PRD.*,O.ORG_UNIT_NAME AS ORG_DEPART_NAME FROM T_PARTORL_RECORD PRD
        JOIN T_ORGANIZATION O ON PRD.ORG_ID = O.ORG_ID
        JOIN T_PARTORL_PROCESS PP ON PRD.PARTORL_RECORD_ID=PP.PARTORL_RECORD_ID
        WHERE 1 = 1
        <if test="partorlRecordQueryVo.startTime!='' and partorlRecordQueryVo.endTime!=''">
            AND PRD.PARTORL_DATE BETWEEN #{partorlRecordQueryVo.startTime} AND #{partorlRecordQueryVo.endTime}
        </if>
        <if test="partorlRecordQueryVo.partorlUser!=null and partorlRecordQueryVo.partorlUser!=''">
            <bind name="username" value="'%'+partorlRecordQueryVo.partorlUser+'%'"/>
            AND PRD.PARTORL_USER LIKE #{username}
        </if>
        <if test="partorlRecordQueryVo.partorlNomal!=null and partorlRecordQueryVo.partorlNomal!=''">
            AND PRD.PARTORL_NOMAL=#{partorlRecordQueryVo.partorlNomal}
        </if>
        <if test="partorlRecordQueryVo.partorlOrvertime!=null and partorlRecordQueryVo.partorlOrvertime!=''">
            AND PRD.PARTORL_ORVERTIME=#{partorlRecordQueryVo.partorlOrvertime}
        </if>
        <if test="partorlRecordQueryVo.orgId!=null and partorlRecordQueryVo.orgId!=''">
            AND PRD.ORG_ID=#{partorlRecordQueryVo.orgId}
        </if>
        <if test="outSiteOrgList!=null and outSiteOrgList.size>0">
            AND PRD.ORG_ID IN
            <foreach collection="outSiteOrgList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        AND PP.PARTORL_PROCESS_STATE=20
    </select>

</mapper>
