<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.SsarunDeviceDao">


    <!--查询设备列表 ssarun库-->
    <select id="ssarunDeviceList" resultType="com.bank.manage.vo.SsarunDeviceVo">
            select  dev.id,
                    case dev.idevtype
                    WHEN '1' then '自动取款机'
                    WHEN '2' then '自动存款机'
                    WHEN '3' then '自动存取款机'
                    WHEN '4' then '自动查询机'
                    WHEN '5' then '多媒体终端'
                    WHEN '6' then '个性化发卡机'
                    WHEN '7' then '回单打印机'
                    WHEN '8' then	'智能现金柜'
                    END AS deviceName,
                    term.strtermnum AS termNo,
                    dev.strdevmodel,
                    dev.strdevmanu,
                    term.organization
            from ssarun.device dev
               left join ssarun.term term
            on term.deviceid = dev.id
           where
                term.organization = #{model.organization}
    </select>

    <!--查询终端状态列表 ssaview库-->
    <select id="termStatusList" resultType="com.bank.manage.vo.SsaViewTermStatusVo" parameterType="java.util.List">
            select id ,strtermnum ,
            case svcstatus
            WHEN '-1' then '无效'
            WHEN '0' then '空闲'
            WHEN '1' then '交易中'
            WHEN '2' then '硬件故障停止服务'
            WHEN '3' then '管理命令暂停服务'
            WHEN '4' then '维护中'
            WHEN '5' then '通讯中断'
            WHEN '6' then '耗材尽停止服务'
            WHEN '7' then '已关机'
            WHEN '8' then '正在重新启动'
            END AS svcstatus
            ,ihdwstatus, dtsvcstatusbegin,iagentstatus,vmcardreader,vmrfcardreader
            vmpinpad ,vmjournalprinter ,vmcashdispenser ,vmcashacceptor,vmreceiptprinter,vmstatementprinter,
            vmpassbookprinter,cashacceptorinfo,cashdispenserinfo,dccarddispenser
            from ssaview.termstatus
           where
                STRTERMNUM in
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>

    <select id="getOrgNameByOrgId" resultType="java.lang.String">
             select NFRT_ORG_NAME
             from t_nfrt_org
           where NFRT_ORG_ID =#{orgId}  and NFRT_ORG_STATE ='1'
    </select>

    <select id="getDeviceDetailsById" resultType="com.bank.manage.vo.DeviceDetailsVo">
           select
                device.id id,
                device.STRDEVMANU deviceVendor,          -- 设备厂商id
                 domaindict.STRVALUE deviceVendorName,    -- 设备厂商名称
                device.STRDEVMODEL deviceModel,       -- 设备型号
                  concat(concat(concat(concat( ifnull(term.ORGANIZATION,'无'),'/'),ifnull(s.org_code,'无')),'/'),ifnull(bra.org_code,'无'))  orgId,       --  所属机构号
                term.STRTERMADDR address,         --  终端地址
                device.firstinstalldate installationTime,  -- 首次安装日期
                term.STRTERMNUM terminalCode,          -- 终端编号
                case when device.IDEVTYPE = '1' then      -- '设备类型：自动取款机 1，自动存款机 2，自动存取款机 3，自动查询机 4',
                          '自动取款机'
                     when device.IDEVTYPE = '2' then
                          '自动存款机'
                     when device.IDEVTYPE = '3' then
                          '自动存取款机'
                     when device.IDEVTYPE = '4' then
                          '自动查询机'
                     end deviceType,
                device.IDEVTYPE deviceTypeCode,
                case when device.ISTATUS = '0' then       -- '设备状态：待签收设备 0，库存设备 1，停用未回库设备 2，拒收设备 3，上线设备 4，已报废设备 5',
                          '待签收设备'
                     when device.ISTATUS = '1' then
                          '库存设备'
                         when device.ISTATUS = '2' then
                                  '停用未回库设备'
                         when device.ISTATUS = '3' then
                                  '拒收设备'
                         when device.ISTATUS = '4' then
                                  '上线设备'
                         when device.ISTATUS = '5' then
                                  '已报废设备'
                     end deviceStatus,
                     concat(concat( concat( concat(concat(concat(bank.STRBANKNAME,'/'),s.STRSUBBRANCHNAME),'/'),bra.STRBRANCHNAME ),'/'),se.STRSSBNAME)  orgName

           from  ssarun.device device
            left join ssarun.term term
                on term.DEVICEID = device.id
            left join ssarun.domaindict domaindict
                on domaindict.STRNAME =  device.STRDEVMANU
            left join ssamgt.subbranch s
               on s.org_code =  term.ORGANIZATION
            left join ssamgt.bank bank
             on bank.STRBANKNUM = s.STRBANKNUM
             left join ssamgt.branch bra
             on bra.STRBRANCHNUM = s.STRBRANCHNUM
             left join ssamgt.selfsvcbank se
              on se.STRBRANCHNUM = bra.STRBRANCHNUM
            where  term.STRTERMNUM = #{id}
    </select>

    <select id="getTerminalDetailsById" resultType="com.bank.manage.vo.TerminalDetailsVo">
           select

                    case when termstatus.CASHACCEPTORINFO ='-1' then     -- 存款箱状态：无效 -1，正常 0，存款钞多 1，存款钞满 2
                               '无效'
                         when termstatus.CASHACCEPTORINFO ='0' then
                              '正常'
                         when termstatus.CASHACCEPTORINFO ='1' then
                              '存款钞多'
                         when termstatus.CASHACCEPTORINFO ='2' then
                              '存款钞满'
                         else '正常'
                         end depositStatus,
                    case when termstatus.CASHDISPENSERINFO ='-1'  then   --  '取款箱状态：无效 -1，正常 0，取款钞少 1，取款钞尽 2',
                               '无效'
                         when termstatus.CASHDISPENSERINFO ='0'  then
                               '正常'
                         when termstatus.CASHDISPENSERINFO ='1'  then
                               '取款钞少'
                         when termstatus.CASHDISPENSERINFO ='2'  then
                                 '取款钞尽'
                         else '正常'
                         end withDrawalsStatus,

                    termstatus.VMPINPAD passWordStatus,

                    case when termstatus.SVCSTATUS ='-1' then     -- 服务状态  '无效 : -1,空闲: 0,交易中 : 1,硬件故障停止服务 : 2,管理命令暂停服务 : 3,维护中 : 4,通讯中断: 5,耗材尽停止服务: 6,已关机 : 7,正在重新启动 : 8'
                              '无效'
                         when termstatus.SVCSTATUS ='0' then
                              '空闲'
                         when termstatus.SVCSTATUS ='1' then
                              '交易中'
                         when termstatus.SVCSTATUS ='2' then
                              '硬件故障停止服务'
                         when termstatus.SVCSTATUS ='3' then
                              '管理命令暂停服务'
                         when termstatus.SVCSTATUS ='4' then
                              '维护中'
                        when termstatus.SVCSTATUS ='5' then
                              '通讯中断'
                        when termstatus.SVCSTATUS ='6' then
                              '耗材尽停止服务'
                        when termstatus.SVCSTATUS ='7' then
                              '已关机'
                        when termstatus.SVCSTATUS ='8' then
                              '正在重新启动'
                        else '正常'
                         end serviceStatus

            from  ssaview.termstatus termstatus
            where termstatus.STRTERMNUM = #{terminalCode}
    </select>

    <!--  '员工角色：1 服务主管，2 服务工程师'-->
    <select id="getDeviceVendorByCode" resultType="com.bank.manage.vo.DeviceVendorVo">
                select
                        case when vendorpersonnel.MANUEMPNATURE ='1' then
                               '服务主管'
                         else '服务工程师'
                         end userType,
                        vendorpersonnel.NAME AS name,
                        vendorpersonnel.TELEPHONE phone
                from   ssamgt.vendorpersonnel vendorpersonnel
                where  vendorpersonnel.DEVICEMANU = #{deviceVendor} and vendorpersonnel.MANUEMPNATURE='1'

    </select>

    <!--根据设备id获取设备模块列表-->
    <select id="getDeviceModelList" resultType="com.bank.manage.vo.SsarunDeviceModelVo">

                    SELECT
                        d.DEVICEID,
                        m.ID,
                        m.CLASSID,
                        m.DCNAME,
                        m.DCDESC,
                        m.VERSIONNUM
                    FROM
                       ssarun.devicedc d
                    LEFT JOIN ssarun.devicecontroller m
                    ON d.dcId = m.ID
                    WHERE
                        d.DEVICEID = #{deviceId}

    </select>
    
    <select id="getReaderStatusListById" resultType="com.bank.manage.vo.ReaderStatusList">
          select
                     case when  LOCATE('CARD',termstatus.VMCARDREADER ) >0     then   --  '读卡器状态：CARD 读卡器故障, CARDJAM 读卡器卡被卡住, CARDBIN 读卡器回收盒满',
                                                  '读卡器故障'
                                             when   LOCATE('CARDJAM',termstatus.VMCARDREADER ) >0     then
                                                   '读卡器卡被卡住'
                                             when   LOCATE('CARDBIN',termstatus.VMCARDREADER ) >0      then
                                                   '读卡器回收盒满'
                                             when   termstatus.VMCARDREADER ='-1'          then
                                                   '无效'
                      else termstatus.VMCARDREADER
                                             end status,

                            "读卡器"  name

             from ssaview.termstatus termstatus
             where termstatus.STRTERMNUM = #{terminalCode}
        union all
            select

                    case when termstatus.VMRFCARDREADER ='-1' then
                                '无效'
                         else termstatus.VMRFCARDREADER
                     end status,


                      "射频读卡器" name

             from ssaview.termstatus termstatus
             where termstatus.STRTERMNUM = #{terminalCode}
        union all
             select


                     case when      LOCATE('CARDINDI',termstatus.DCCardReaderIndi ) >0     then   --   '个性化读卡器状态：CARDINDI 读卡器故障, CARDINDIJAM 读卡器卡被卡住, CARDINDIBIN 读卡器回收盒满',
                                                  '个性化读卡器故障'
                                             when   LOCATE('CARDINDIJAM',termstatus.DCCardReaderIndi ) >0      then
                                                   '个性化读卡器卡被卡住'
                                             when   LOCATE('CARDINDIBIN',termstatus.DCCardReaderIndi ) >0       then
                                                   '个性化读卡器回收盒满'
                                             when   termstatus.DCCardReaderIndi ='-1'     then
                                                   '无效'
                                             else termstatus.DCCardReaderIndi
                                             end status,

                     "个性化读卡器" name
             from ssaview.termstatus termstatus
             where termstatus.STRTERMNUM = #{terminalCode}

    </select>

    <select id="getPrinterListById" resultType="com.bank.manage.vo.PrinterListVo">
                     SELECT
                                case when termstatus.VMRECEIPTPRINTER ='REC' then     --   '凭条打印机状态：REC 凭条打印机故障，RECPEPT 缺凭条纸，RECPJAM 凭条打印机卡纸',
                                          '凭条打印机故障'
                                     when  termstatus.VMRECEIPTPRINTER ='RECPEPT' then
                                          '缺凭条纸'
                                     when  termstatus.VMRECEIPTPRINTER ='RECPJAM' then
                                           '凭条打印机卡纸'
                                     else termstatus.VMRECEIPTPRINTER
                                     end status,
                                    "凭条打印机" name
                    from ssaview.termstatus termstatus
                    left join ssarun.term term
                      on term.STRTERMNUM = termstatus.STRTERMNUM
                    left join ssarun.device dev
                      on dev.id = term.DEVICEID
                       where termstatus.STRTERMNUM = #{terminalCode}
              union all
                    SELECT

                                case when termstatus.VMSTATEMENTPRINTER ='DOC' then    --  '对帐单打印机状态：DOC 对帐单打印机故障，DOCPEPT 缺对账单纸，DOCPJAM 对帐单打印机卡纸',
                                          '对帐单打印机故障'
                                     when  termstatus.VMSTATEMENTPRINTER ='DOCPEPT' then
                                          '缺对账单纸'
                                     when  termstatus.VMSTATEMENTPRINTER ='DOCPJAM' then
                                           '对帐单打印机卡纸'
                                     else termstatus.VMSTATEMENTPRINTER
                                     end status,
                                    "对帐单打印机" name

                    from ssaview.termstatus termstatus
                    left join ssarun.term term
                      on term.STRTERMNUM = termstatus.STRTERMNUM
                    left join ssarun.device dev
                      on dev.id = term.DEVICEID
                   where termstatus.STRTERMNUM = #{terminalCode}
             union all
                    select
                                termstatus.VMPASSBOOKPRINTER status,     -- 存折打印机状态
                               "存折打印机" name

                     from ssaview.termstatus termstatus
                            left join ssarun.term term
                              on term.STRTERMNUM = termstatus.STRTERMNUM
                            left join ssarun.device dev
                              on dev.id = term.DEVICEID
                            left join ssamgt.vendorpersonnel ven
                              on ven.DEVICEMANU = dev.STRDEVMANU
                     where termstatus.STRTERMNUM = #{terminalCode}
             union all
                    select

                                case when termstatus.VMJOURNALPRINTER ='JRN' then         -- '流水打印机状态：JRN 流水打印机故障，JRNPEPT 缺流水纸，JRNPJAM 流水打印机卡纸',
                                           '流水打印机故障'
                                     when termstatus.VMJOURNALPRINTER ='JRNPEPT' then
                                           '缺流水纸'
                                     when termstatus.VMJOURNALPRINTER ='JRNPJAM' then
                                           '流水打印机卡纸'
                                else termstatus.VMJOURNALPRINTER
                                end status,
                              "流水打印机" name
                     from ssaview.termstatus termstatus
                            left join ssarun.term term
                              on term.STRTERMNUM = termstatus.STRTERMNUM
                            left join ssarun.device dev
                              on dev.id = term.DEVICEID
                     where termstatus.STRTERMNUM = #{terminalCode}
    </select>

    <!--按年查询监控设备交易趋势 dto.orgType==2 根据分行查询、dto.orgType==3 根据网点查询 -->
    <select id="getDeviceTradeMouthList" resultType="com.bank.manage.vo.DeviceTradeTrendVo">
        SELECT
            CONVERT (t2.day_str, CHAR) `date`,
            IFNULL(count(i.id), 0) AS tradeCount
        FROM
            (
            SELECT
            @rownum :=@rownum + 1 AS num,
            date_format(DATE_SUB(NOW(), INTERVAL @rownum DAY),'%Y-%m') AS day_str
            FROM
            (SELECT @rownum := - 1) AS r_init,
            (
            SELECT  c.id FROM  ssamgt.vw_translog c  LIMIT 30
            ) AS c_init
            ) t2
            LEFT JOIN ssamgt.vw_translog AS i ON (
            DATE_FORMAT(i.trans_time, '%Y-%m') = t2.day_str
            <if test="dto.orgType == 2">
                <if test="dto.orgId != null and dto.orgId != ''">
                    and substr(i.trans_orgno,1,6) = substr(#{dto.orgId},1,6)
                </if>
            </if>
            <if test="dto.orgType == 3">
                <if test="dto.orgId != null and dto.orgId != ''">
                    and i.trans_orgno = #{dto.orgId}
                </if>
            </if>
            <if test="dto.termNum != null and dto.termNum != ''">
                and i.term_num = #{dto.termNum}
            </if>
            )
        GROUP BY
            t2.day_str
    </select>

    <!--按月查询监控设备交易趋势-->
    <select id="getDeviceTradeYearsList" resultType="com.bank.manage.vo.DeviceTradeTrendVo">
        SELECT
        CONVERT (t2.day_str, CHAR) `date`,
        IFNULL(count(i.id), 0) AS tradeCount
        FROM
        (
            SELECT
                 @rownum :=@rownum + 1 AS num,
                 date_format(DATE_SUB(NOW(), INTERVAL @rownum DAY),'%Y-%m-%d') AS day_str
            FROM
            (SELECT @rownum := - 1) AS r_init,
            (
            SELECT  c.id FROM  ssamgt.vw_translog c  LIMIT 30
            ) AS c_init
        ) t2
        LEFT JOIN ssamgt.vw_translog AS i ON (
            DATE_FORMAT(i.trans_time, '%Y-%m-%d') = t2.day_str
            <if test="dto.orgType == 2">
                <if test="dto.orgId != null and dto.orgId != ''">
                    and substr(i.trans_orgno,1,6) = substr(#{dto.orgId},1,6)
                </if>
            </if>
            <if test="dto.orgType == 3">
                <if test="dto.orgId != null and dto.orgId != ''">
                    and i.trans_orgno = #{dto.orgId}
                </if>
            </if>
            <if test="dto.termNum != null">
                and i.term_num = #{dto.termNum}
            </if>
        )
        GROUP BY
        t2.day_str
    </select>


</mapper>
