<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.UsherPopulationDao">
	<insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO T_USHER_POPULATION (ORG_ID, ORG_NAME, POPULATION_LIMIT, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME) 
        SELECT TUP.* FROM (
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT 
            #{item.orgId, jdbcType=VARCHAR} ORG_ID, 
            #{item.orgName, jdbcType=VARCHAR} ORG_NAME, 
            #{item.populationLimit, jdbcType=INTEGER} POPULATION_LIMIT, 
            #{item.createdBy, jdbcType=VARCHAR} CREATED_BY, 
            #{item.createdTime, jdbcType=TIMESTAMP} CREATED_TIME,
            #{item.updatedBy, jdbcType=VARCHAR} UPDATED_BY, 
            #{item.updatedTime, jdbcType=TIMESTAMP} UPDATED_TIME 
            FROM DUAL
        </foreach>
        ) TUP
    </insert>
    
    <select id="selectOrgUsherPopulation" resultType="com.bank.manage.dos.UsherPopulationDO">
    	SELECT TOR.ORG_ID, TOR.ORG_NAME, TUP.POPULATION_LIMIT
		FROM T_ORGANIZATION TOR 
		LEFT JOIN T_USHER_POPULATION  TUP ON TUP.ORG_ID = TOR.ORG_ID 
		WHERE TOR.ORG_TYPE = '3' AND TOR.ORG_STATUS = '1' 
		<if test="orgName != null and orgName != ''">
		AND TOR.ORG_NAME LIKE CONCAT('%', #{orgName, jdbcType=VARCHAR}, '%')
		</if>
    </select>
    
    <select id="checkOrgExist" resultType="java.lang.Integer">
    	SELECT COUNT(*) FROM T_ORGANIZATION WHERE ORG_ID = #{orgId, jdbcType=VARCHAR}
    </select>
</mapper>
