<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.WbmpOrgBalanceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="wbmpOrgBalanceResultMap" type="com.bank.manage.dos.WbmpOrgBalanceDO">
        <id column="ORG_NO" property="orgNo"/>
        <result column="CURR_CD" property="currCd"/>
        <result column="PRIVATE_BAL" property="privateBal"/>
        <result column="PUBLIC_BAL" property="publicBal"/>
        <result column="GENERALITY_BAL" property="generalityBal"/>
        <result column="DATA_DT" property="dataDt"/>
    </resultMap>


    <select id="listPage" resultMap="wbmpOrgBalanceResultMap">
        select * from wbmp_org_balance
        <where>
                <if test="model!=null">
                    <if test="model.orgNo != null and model.orgNo !=''">
                        ORG_NO = #{model.orgNo}
                    </if>
                </if>
                <if test="model!=null">
                    <if test="model.currCd != null and model.currCd !=''">
 AND                         CURR_CD = #{model.currCd}
                    </if>
                </if>
                <if test="model!=null">
                    <if test="model.privateBal != null and model.privateBal !=''">
 AND                         PRIVATE_BAL = #{model.privateBal}
                    </if>
                </if>
                <if test="model!=null">
                    <if test="model.publicBal != null and model.publicBal !=''">
 AND                         PUBLIC_BAL = #{model.publicBal}
                    </if>
                </if>
                <if test="model!=null">
                    <if test="model.generalityBal != null and model.generalityBal !=''">
 AND                         GENERALITY_BAL = #{model.generalityBal}
                    </if>
                </if>
                <if test="model!=null">
                    <if test="model.dataDt != null and model.dataDt !=''">
 AND                         DATA_DT = #{model.dataDt}
                    </if>
                </if>
        </where>
    </select>

    <!--获取机构历史某一天的余额-->
    <select id="getOrgHistoryBal" resultType="java.lang.String">
            SELECT (private_bal+PUBLIC_BAL+GENERALITY_BAL) AS balance FROM (
			SELECT t1.ORG_NO AS org_no, 'CN' AS curr_cd,
			SUM(CASE WHEN t1.curr_cd = 'CNY' THEN t1.private_bal ELSE t1.private_bal * t2.zhebhuil END) AS private_bal,
			SUM(CASE WHEN t1.curr_cd = 'CNY' THEN t1.PUBLIC_BAL ELSE t1.PUBLIC_BAL * t2.zhebhuil END) AS PUBLIC_BAL,
			SUM(CASE WHEN t1.curr_cd = 'CNY' THEN t1.GENERALITY_BAL ELSE t1.GENERALITY_BAL * t2.zhebhuil END ) AS GENERALITY_BAL,
			t1.update_date AS update_date
			FROM wbmp_org_batch_balance t1
			LEFT JOIN wbmp_org_currency t2 ON t1.curr_cd = t2.huobfhao
			AND t2.update_date = ( SELECT MAX(update_date) AS update_date FROM wbmp_org_currency WHERE t1.update_date >= update_date )
			WHERE t1.update_date = DATE_FORMAT(#{date},'%Y%m%d')
			AND t1.org_no = #{orgId}
			AND EXISTS (
				SELECT 1 FROM wbmp_org_batch_balance
				WHERE update_date = REPLACE(DATE_SUB(CURRENT_DATE, INTERVAL 1 DAY),'-','')
			)
			GROUP BY t1.update_date,t1.org_no
		) a
		UNION ALL
		SELECT (private_bal+PUBLIC_BAL+GENERALITY_BAL) AS balance FROM (
			SELECT t1.org_no AS org_no, 'CN' AS curr_cd,
			SUM(CASE WHEN t1.curr_cd = 'CNY' THEN t1.private_bal ELSE t1.private_bal * t2.zhebhuil END) AS private_bal,
			SUM(CASE WHEN t1.curr_cd = 'CNY' THEN t1.PUBLIC_BAL ELSE t1.PUBLIC_BAL * t2.zhebhuil END) AS PUBLIC_BAL,
			SUM(CASE WHEN t1.curr_cd = 'CNY' THEN t1.GENERALITY_BAL ELSE t1.GENERALITY_BAL * t2.zhebhuil END ) AS GENERALITY_BAL,
			t1.update_date AS update_date
			FROM dws_ass_ogsj_gen_acct_no_yesterday t1
			LEFT JOIN wbmp_org_currency t2 ON t1.curr_cd = t2.huobfhao
			AND t2.update_date = ( SELECT MAX(update_date) AS update_date FROM wbmp_org_currency WHERE t1.update_date >= update_date )
			WHERE t1.update_date = REPLACE(DATE_SUB(CURRENT_DATE, INTERVAL 1 DAY),'-','')
		    AND t1.org_no = #{orgId}
      AND t1.update_date = DATE_FORMAT(#{date},'%Y%m%d')
			AND NOT EXISTS (
				SELECT 1 FROM wbmp_org_batch_balance
				WHERE update_date = REPLACE(DATE_SUB(CURRENT_DATE, INTERVAL 1 DAY),'-','')
			)
			AND EXISTS (
				SELECT 1 FROM wbmp_org_batch_balance
				WHERE update_date = REPLACE(DATE_SUB(CURRENT_DATE, INTERVAL 2 DAY),'-','')
			)
			GROUP BY t1.update_date,t1.org_no
		) b
		UNION ALL
		SELECT (private_bal+PUBLIC_BAL+GENERALITY_BAL) AS balance FROM (
			SELECT t1.org_no AS org_no, 'CN' AS curr_cd,
			SUM(CASE WHEN t1.curr_cd = 'CNY' THEN t1.private_bal ELSE t1.private_bal * t2.zhebhuil END) AS private_bal,
			SUM(CASE WHEN t1.curr_cd = 'CNY' THEN t1.PUBLIC_BAL ELSE t1.PUBLIC_BAL * t2.zhebhuil END) AS PUBLIC_BAL,
			SUM(CASE WHEN t1.curr_cd = 'CNY' THEN t1.GENERALITY_BAL ELSE t1.GENERALITY_BAL * t2.zhebhuil END ) AS GENERALITY_BAL,
			t1.update_date AS update_date
			FROM wbmp_org_batch_balance t1
			LEFT JOIN wbmp_org_currency t2 ON t1.curr_cd = t2.huobfhao
			AND t2.update_date = ( SELECT MAX(update_date) AS update_date FROM wbmp_org_currency WHERE t1.update_date >= update_date )
			WHERE t1.update_date BETWEEN DATE_FORMAT(DATE_SUB(CURRENT_DATE, INTERVAL 31 DAY),'%Y%m%d')
			AND DATE_FORMAT(DATE_SUB(CURRENT_DATE, INTERVAL 1 DAY),'%Y%m%d')
		    AND t1.org_no = #{orgId}
       AND t1.update_date = DATE_FORMAT(#{date},'%Y%m%d')
			AND NOT EXISTS (
				SELECT 1 FROM wbmp_org_batch_balance
				WHERE update_date = REPLACE(DATE_SUB(CURRENT_DATE, INTERVAL 1 DAY),'-','')
			)
			AND EXISTS (
				SELECT 1 FROM wbmp_org_batch_balance
				WHERE update_date = REPLACE(DATE_SUB(CURRENT_DATE, INTERVAL 2 DAY),'-','')
			)
			GROUP BY t1.update_date,t1.org_no
		) c

    </select>

</mapper>
