<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.WbmpOperateScoreDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bank.manage.dos.WbmpOperateScoreDO">
        <id column="WBMP_OPERATE_SCORE_ID" property="wbmpOperateScoreId" />
        <result column="ORG_ID" property="orgId" />
        <result column="ORG_NAME" property="orgName" />
        <result column="OPERATE_SCORE" property="operateScore" />
        <result column="OPERATE_DATE" property="operateDate" />
    </resultMap>


    <!--分数榜-->
    <resultMap id="ManageScore" type="com.bank.manage.vo.OrgScoreVo">
        <result property="orgId" column="org_id"/>
        <result property="score" column="score"/>
        <result property="dateDt" column="date_dt"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        WBMP_OPERATE_SCORE_ID, ORG_ID, ORG_NAME, OPERATE_SCORE, OPERATE_DATE
    </sql>


    <!--查询月度日期最大一天的分数-->
    <select id="findOperateOrgMouthScore" resultType="java.lang.Float">
       select IFNULL(( SELECT   MANAGEMENT_SCORE FROM WBMP_MANGEMENT_SCORE WHERE ORG_ID=#{orgId} and DATE_FORMAT(MANAGEMENT_DATE,'%Y-%m')=#{mouth} ORDER BY MANAGEMENT_DATE desc LIMIT 1),0)
    </select>

    <!--查询年度日期最大一天的分数-->
    <select id="findOperateYearOrgScore" resultType="java.lang.Float">
     select IFNULL((SELECT  MANAGEMENT_SCORE FROM WBMP_MANGEMENT_SCORE WHERE ORG_ID=#{orgId} and DATE_FORMAT(MANAGEMENT_DATE,'%Y')=#{year} ORDER BY MANAGEMENT_DATE desc LIMIT 1),0)
    </select>


    <!--查询最近12个月的数据[经营分数表]-->
    <select id="queryManageByMonth" resultMap="ManageScore">
        SELECT s.ORG_ID AS org_id,s.MANAGEMENT_SCORE AS score,DATE_FORMAT(s.MANAGEMENT_DATE,'%Y-%m') AS date_dt FROM `wbmp_mangement_score` s
        INNER  JOIN
        (SELECT ORG_ID,MAX(MANAGEMENT_DATE)as date_dt FROM `wbmp_mangement_score` GROUP BY ORG_ID, DATE_FORMAT(MANAGEMENT_DATE,'%Y-%m') ORDER BY MANAGEMENT_DATE DESC LIMIT 10000 ) a
        on
        s.ORG_ID = a.ORG_ID
        and s.MANAGEMENT_DATE = a.date_dt
        where a.ORG_ID = #{orgId}
        ORDER BY s.MANAGEMENT_DATE desc
        limit 13
    </select>

    <!--查询最近四个季度的数据[经营分数表]-->
    <select id="queryManageByQuart" resultMap="ManageScore">
         SELECT s.ORG_ID AS org_id,s.MANAGEMENT_SCORE AS score, CONCAT(year(s.MANAGEMENT_DATE),'-', quarter(s.MANAGEMENT_DATE))  AS date_dt FROM `wbmp_mangement_score` s
        INNER  JOIN
        (SELECT ORG_ID,MAX(MANAGEMENT_DATE)as MANAGEMENT_DATE FROM `wbmp_mangement_score` GROUP BY ORG_ID, CONCAT(year(MANAGEMENT_DATE),'-', quarter(MANAGEMENT_DATE)) ORDER BY MANAGEMENT_DATE DESC LIMIT 10000 ) a
        on
        s.ORG_ID = a.ORG_ID
        and s.MANAGEMENT_DATE = a.MANAGEMENT_DATE
        where
        a.ORG_ID = #{orgId}
        ORDER BY s.MANAGEMENT_DATE
        LIMIT 5


    </select>

    <!--查询最近3年的数据[经营分数表]-->
    <select id="queryManageByYear" resultMap="ManageScore">
         SELECT s.ORG_ID AS org_id,s.MANAGEMENT_SCORE AS score ,DATE_FORMAT(s.MANAGEMENT_DATE,'%Y') AS date_dt FROM `wbmp_mangement_score` s
        INNER  JOIN
        (SELECT ORG_ID,MAX(MANAGEMENT_DATE)as MANAGEMENT_DATE FROM `wbmp_mangement_score` GROUP BY ORG_ID, DATE_FORMAT(MANAGEMENT_DATE,'%Y') ORDER BY MANAGEMENT_DATE DESC LIMIT 10000 ) a
        on
        s.ORG_ID = a.ORG_ID
        and s.MANAGEMENT_DATE = a.MANAGEMENT_DATE
        and a.ORG_ID = #{orgId}
        ORDER BY s.MANAGEMENT_DATE desc
        LIMIT 3

    </select>



</mapper>
