<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.WbmpAbsTellerOnlineTimeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="wbmpAbsTellerOnlineTimeResultMap" type="com.bank.manage.dos.WbmpAbsTellerOnlineTimeDO">
        <id column="TELLER_ID" property="tellerId"/>
        <result column="ORG_ID" property="orgId"/>
        <result column="TELLER_NAME" property="tellerName"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="ONLINE_TIME" property="onlineTime"/>
    </resultMap>
    <delete id="clearAll">
        TRUNCATE TABLE wbmp_abs_teller_online_time
    </delete>


    <select id="listPage" resultMap="wbmpAbsTellerOnlineTimeResultMap">
        select * from wbmp_abs_teller_online_time
        <where>
                <if test="model!=null">
                    <if test="model.orgId != null and model.orgId !=''">
                        ORG_ID = #{model.orgId}
                    </if>
                </if>
                <if test="model!=null">
                    <if test="model.tellerId != null and model.tellerId !=''">
 AND                         TELLER_ID = #{model.tellerId}
                    </if>
                </if>
                <if test="model!=null">
                    <if test="model.tellerName != null and model.tellerName !=''">
 AND                         TELLER_NAME = #{model.tellerName}
                    </if>
                </if>
                <if test="model!=null">
                    <if test="model.updateTime != null and model.updateTime !=''">
 AND                         UPDATE_TIME = #{model.updateTime}
                    </if>
                </if>
                <if test="model!=null">
                    <if test="model.onlineTime != null and model.onlineTime !=''">
 AND                         ONLINE_TIME = #{model.onlineTime}
                    </if>
                </if>
        </where>
    </select>


</mapper>
