<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.WbmpTellerTransactionDao">


    <select id="queryTransaction" resultType="com.bank.manage.vo.TellerTransactionVo">
        SELECT a.TRADE_VOLUME,a.TRAN_NAME,
        (SELECT a.TRADE_VOLUME FROM wbmp_abs_transinfo a WHERE concat(substr(a.ORG_ID,1,6),'01') = concat(substr(#{orgId},1,6),'01')  and a.FLAG = '1' AND
            DATE_FORMAT(a.DATA_DT,'%Y-%m-%d') = DATE_FORMAT(CURDATE(),'%Y-%m-%d')) AS count
        FROM wbmp_abs_transinfo a WHERE concat(substr(a.ORG_ID,1,6),'01')= #{orgId} and a.TELLER_ID=#{tellerId} and a.FLAG = '4'
        AND DATE_FORMAT(a.DATA_DT,'%Y-%m-%d') = DATE_FORMAT(CURDATE(),'%Y-%m-%d')
        ORDER BY TRADE_VOLUME DESC
        limit 5
    </select>
</mapper>