<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.WbmpOperateRacingIndexMDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bank.manage.dos.WbmpOperateRacingIndexMDO">
        <result column="ETL_TIME" property="etlTime"/>
        <result column="ORG_ID" property="orgId"/>
        <result column="INDEX_NO" property="indexNo"/>
        <result column="INDEX_NAME" property="indexName"/>
        <result column="INDEX_VAL" property="indexVal"/>
        <result column="DATA_DT" property="dataDt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ETL_TIME, ORG_ID, INDEX_NO, INDEX_NAME, INDEX_VAL, DATA_DT
    </sql>


    <resultMap id="ItemNames" type="com.bank.manage.dto.HouseRaceItem">
        <result property="id" column="INDEX_NO"/>
        <result property="name" column="INDEX_NAME"/>
        <result property="max" column="MAX"/>
    </resultMap>

    <!--    获取赛马制名称-->
    <select id="getItemNames" resultMap="ItemNames">
            SELECT INDEX_NO,INDEX_NAME,'100' AS MAX FROM WBMP_OPERATE_RACING_INDEX_M WHERE ORG_ID=#{orgId}  AND DATE_FORMAT(DATA_DT,'%Y-%m')=#{date}
    </select>

    <!--    获取数值-->
    <select id="getData" resultType="java.lang.Float">
        SELECT
            IFNULL(
                (
                    SELECT
                        INDEX_VAL
                    FROM
                        WBMP_OPERATE_RACING_INDEX_M
                    WHERE
                        ORG_ID = #{orgId}
                    AND DATE_FORMAT(DATA_DT, '%Y-%m') = #{date}
                    AND INDEX_NO = #{id}
                ),
                0
            )
    </select>

    <!--    获取赛马制列表 -->
    <select id="getRacingList" resultMap="BaseResultMap">
        SELECT  * FROM WBMP_OPERATE_RACING_INDEX_M WHERE ORG_ID=#{orgId}  AND DATE_FORMAT(DATA_DT,'%Y-%m')=#{date}
    </select>
</mapper>
