#set($dtoPackage=$package.Entity.replace("dos","dto"))
package $!{dtoPackage};

import $!{package.Entity}.$!{entity}DO;
#if($!{entityLombokModel})
import lombok.Data;
import java.io.Serializable;
#end

/**
 * $!{table.comment}数据传输对象实体类
 *
 * @author $!{author}
 * @since $!{date}
 */
#if($!{entityLombokModel})
@Data
#end
public class $!{entity}DTO implements Serializable{
	private static final long serialVersionUID = 1L;

}
