<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.esb.dao.EsbDao">
    <select id="getEngineer" resultType="com.bank.esb.dto.EngineerDto">
        SELECT ID engineerId,
        NAME engineerName,
        TELEPHONE phone
        FROM vendorpersonnel WHERE DEVICEMANU=(
        SELECT DEVICEMANU FROM vendorpersonnel WHERE ID = #{id} )
        <if test="seachTxt!=null">
        AND (NAME=#{seachTxt} or TELEPHONE=#{seachTxt})
        </if>
        AND MANUEMPNATURE='2'
    </select>

    <select id="getCSMaster" resultType="com.bank.esb.dto.ManagerDto">
            SELECT ID serverId,
            NAME serverName
            FROM vendorpersonnel
            WHERE
            DEVICEMANU = (SELECT b.STRDEVMANU FROM ssarun.term a
                    LEFT JOIN ssarun.device b ON a.DEVICEID=b.ID
                    WHERE a.STRTERMNUM = #{id})
            AND MANUEMPNATURE='1'
    </select>


    <select id="getDeviceInfo" resultType="java.util.Map">
         SELECT
            STRTERMNUM deviceId,
            STRDEVMODEL deviceModel,
            STRORGNO orgId,
            STRSSBNAME orgName,
            STRTERMADDR address,
            firstinstalldate installDate,
            STRDEVMANU deviceVendor
            FROM (
            SELECT d.*,c.STRORGNO,c.STRTERMNUM,c.STRTERMADDR,e.STRSSBNAME FROM ssarun.term c
            left JOIN ssarun.device d on c.DEVICEID = d.ID
            left JOIN selfsvcbank e on c.STRSSBNUM=e.STRSSBNUM
            WHERE c.STRTERMNUM= #{id}
            ) b
    </select>
</mapper>
