<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.esb.dao.EsbDao">
    <select id="getEngineer" resultType="com.bank.esb.dto.EngineerDto">
        SELECT ID engineerId,
        NAME engineerName,
        TELEPHONE phone
        FROM vendorpersonnel WHERE DEVICEMANU=(
        SELECT DEVICEMANU FROM vendorpersonnel WHERE ID = #{id} )
        <if test="seachTxt!=''">
        AND (NAME=#{seachTxt} or TELEPHONE=#{seachTxt})
        </if>
        AND MANUEMPNATURE='2'
    </select>

    <select id="getCSMaster" resultType="com.bank.esb.dto.ManagerDto">
            SELECT ID serverId,
            NAME serverName
            FROM vendorpersonnel
            WHERE
            DEVICEMANU = (SELECT b.STRDEVMANU FROM ssarun.term a
                    LEFT JOIN ssarun.device b ON a.DEVICEID=b.ID
                    WHERE a.STRTERMNUM = #{id})
            AND MANUEMPNATURE='1'
    </select>


    <select id="getDeviceInfo" resultType="java.util.Map">
         SELECT
            STRTERMNUM deviceId,
            STRDEVMODEL deviceModel,
            STRORGNO orgId,
            STRSSBNAME orgName,
            STRTERMADDR address,
            firstinstalldate installDate,
            STRVALUE deviceVendor
            FROM (
            SELECT d.*,c.STRORGNO,c.STRTERMNUM,c.STRTERMADDR,e.STRSSBNAME,a.STRVALUE FROM ssarun.term c
            left JOIN ssarun.device d on c.DEVICEID = d.ID
            left JOIN selfsvcbank e on c.STRSSBNUM=e.STRSSBNUM
			LEFT JOIN ssarun.domaindict a ON d.STRDEVMANU = a.STRNAME
            WHERE c.STRTERMNUM= #{id}
            ) b
    </select>

    <select id="getEsbErrOrder" resultType="com.bank.esb.dto.OrderDto">
        SELECT
        a.status orderStatus,
        a.orderNo ID,
        "sys" createUser,
        "" serviceTime,
        a.beginDate createTime,
        a.strTermNum deviceNo,
        a.deviceType,
        a.errorDesc orderDetail,
        a.deviceType deviceName,
        a.deviceManu deviceBrand,
        a.STRSSBNUM orgId,
        b.STRSSBNAME orgName
        FROM work_order a LEFT JOIN selfsvcbank b ON a.STRSSBNUM=b.STRSSBNUM
        WHERE
        <if test="o.deviceClassify!=null and o.deviceClassify!=''">
            a.deviceClass = #{o.deviceClassify}
        </if>
       <if test="o.orderStatus!=null and o.orderStatus!=''">
           a.status = #{o.orderStatus}
       </if>
       <if test="o.startTime!=null and o.endTime!=null and o.startTime!='' and o.endTime!=''">
           a.beginDate BETWEEN #{o.startTime} AND #{o.endTime}
       </if>
       <if test="o.orderNo!=null and o.orderNo!=''">
           a.ID = #{o.orderNo}
       </if>
       <if test="o.deviceNo!=null and o.deviceNo!=''">
           a.strTermNum = #{o.deviceNo}
       </if>
       <if test="o.deviceType!=null and o.deviceType!=''">
           a.deviceType = #{o.deviceType}
       </if>
    </select>




    <select id="getCSInfo" resultType="com.bank.esb.dto.CSInfoDto">
       SELECT STRNAME vendorId,STRVALUE vendorName from ssarun.domaindict where STRTYPE = 'DevManu'
    </select>

    <select id="getEngineerInfo" resultType="java.util.Map">
        SELECT a.*,b.STRVALUE fws FROM vendorpersonnel a
        LEFT JOIN ssarun.domaindict b ON a.DEVICEMANU= b.STRNAME
        where a.ID = #{engineerId}
    </select>

    <select id="getBranch" resultType="com.bank.esb.dos.DatBranchDO">
        select * from  branch where STRBANKNUM=#{orgid}
    </select>

    <select id="getSubBranch" resultType="com.bank.esb.dos.DatSubbranchDO">
        select * from  subbranch where STRBRANCHNUM=#{orgid}
    </select>

    <select id="getSelfBranch" resultType="com.bank.esb.dos.DatSelfsvcbankDO">
        select * from  selfsvcbank where STRSUBBRANCHNUM=#{orgid}
    </select>
</mapper>
