<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.BankDao">
    <!--<resultMap id="bankMap" type="com.bank.manage.dos.BankDO">-->
    <!--<id property="id" column="ID"/>-->
    <!--<result property="strBankNum" column="STRBANKNUM"/>-->
    <!--<result property="strBankName" column="STRBANKNAME"/>-->
    <!--</resultMap>-->
    <select id="selectBankNumByOrgcode" resultType="java.lang.String">
        select STRBANKNUM from bank
        where ORG_CODE = #{model}
    </select>

    <select id="queryBank" resultType="com.bank.manage.dos.BankDO">
        select DISTINCT(b1.id),b1.STRBANKNUM strBankNum,b1.STRBANKNAME strBankName
        from bank b1,branch b2,subbranch b3
        where b2.STRBANKNUM = b1.STRBANKNUM
        and b3.STRBRANCHNUM = b2.STRBRANCHNUM
        <if test="model != null and model !=''">
            and (b1.strbanknum = #{model}
            or b2.strbranchnum = #{model}
            or b3.strsubbranchnum = #{model})
        </if>
    </select>
    <select id="queryBranch" resultType="com.bank.manage.dos.BankDO">
        select DISTINCT(b2.id),b2.STRBRANCHNUM strBranchNum,b2.STRBRANCHNAME strBranchName,b1.STRBANKNUM
        strBankNum,b1.STRBANKNAME strBankName
        from bank b1,branch b2,subbranch b3
        where b2.STRBANKNUM = b1.STRBANKNUM
        and b3.STRBRANCHNUM = b2.STRBRANCHNUM
        <if test="model != null and model !=''">
            and (b1.strbanknum = #{model}
            or b2.strbranchnum = #{model}
            or b3.strsubbranchnum = #{model})
        </if>
    </select>
    <select id="querySubBranch" resultType="com.bank.manage.dos.BankDO">
        select DISTINCT(b3.id),b3.STRSUBBRANCHNUM strSubBranchNum,b3.STRSUBBRANCHNAME strSubBranchName,
        b2.STRBRANCHNUM strBranchNum,b2.STRBRANCHNAME strBranchName,
        b1.STRBANKNUM strBankNum,b1.STRBANKNAME strBankName
        from bank b1,branch b2,subbranch b3
        where b2.STRBANKNUM = b1.STRBANKNUM
        and b3.STRBRANCHNUM = b2.STRBRANCHNUM
        <if test="model != null and model !=''">
            and (b1.strbanknum = #{model}
            or b2.strbranchnum = #{model}
            or b3.strsubbranchnum = #{model})
        </if>
    </select>
    <select id="querySsbank" resultType="com.bank.manage.dos.BankDO">
        select DISTINCT(b4.id),b4.STRSSBNUM strSsbNum,b4.STRSSBNAME strSsbName,
        b3.STRSUBBRANCHNUM strSubBranchNum,b3.STRSUBBRANCHNAME strSubBranchName,
        b2.STRBRANCHNUM strBranchNum,b2.STRBRANCHNAME strBranchName,
        b1.STRBANKNUM strBankNum,b1.STRBANKNAME strBankName
        from bank b1,branch b2,subbranch b3,selfsvcbank b4
        where b2.STRBANKNUM = b1.STRBANKNUM
        and b3.STRBRANCHNUM = b2.STRBRANCHNUM
        and b4.STRSUBBRANCHNUM = b3.STRSUBBRANCHNUM
        <if test="model != null and model !=''">
            and (b1.strbanknum = #{model}
            or b2.strbranchnum = #{model}
            or b3.strsubbranchnum = #{model})
        </if>
    </select>
    <select id="queryBankName" resultType="java.lang.String">
        select STRBANKNAME strBankName
        from bank
        where STRBANKNUM = #{model}
    </select>
    <select id="querySsbName" resultType="java.lang.String">
        select STRSSBNAME strSsbName
        from selfsvcbank
        where STRSSBNUM = #{model}
    </select>
</mapper>