<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.manage.dao.DcStatuslogDao">

    <select id="queryList" resultType="com.bank.manage.dos.DcStatuslogDO">
        SELECT *
        FROM z_dcstatus
        <where>
            <if test="model!=null">
                STRTERMNUM = #{model}
            </if>
        </where>
    </select>

    <select id="queryLast" resultType="com.bank.manage.dos.DcStatuslogDO">
        SELECT *
        FROM z_dcstatuslog
        <where>
            <if test="model!=null">
                <if test="model.strTermNum!=null and model.strTermNum!=''">
                    STRTERMNUM = #{model.strTermNum}
                </if>
                <if test="model.strVMName!=null and model.strVMName!=''">
                    STRVMNAME = #{model.strVMName}
                </if>
            </if>
        </where>
        order by DTBEGIN desc limit 1
    </select>
</mapper>